<h1>Listing about_us</h1>

<table>
  <thead>
    <tr>
      <th>Header</th>
      <th>Content</th>
      <th>Contact</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @about_us.each do |about_u| %>
      <tr>
        <td><%= about_u.header %></td>
        <td><%= about_u.content %></td>
        <td><%= about_u.contact %></td>
        <td><%= link_to 'Show', about_u %></td>
        <td><%= link_to 'Edit', edit_about_u_path(about_u) %></td>
        <td><%= link_to 'Destroy', about_u, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New About u', new_about_u_path %>
