<p id="notice"><%= notice %></p>

<p>
  <strong>Header:</strong>
  <%= @about_u.header %>
</p>

<p>
  <strong>Content:</strong>
  <%= @about_u.content %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @about_u.contact %>
</p>

<%= link_to 'Edit', edit_about_u_path(@about_u) %> |
<%= link_to 'Back', about_us_path %>
