%h1 Listing orders
%table
  %thead
    %tr
      %th Status
      %th Pst rate
      %th Gst rate
      %th Hst rate
      %th Price
      %th
      %th
      %th
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.status
        %td= order.pst_rate
        %td= order.gst_rate
        %td= order.hst_rate
        %td= order.price
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)
        %td= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Order', new_order_path