

<section>
  <h3><%= link_to product.name, product %></h3>
    <p><strong>description:</strong> <%= product.description %></p>
    <p><strong>price: </strong><%= product.price %></p>
    <p><strong>stock quantity: </strong><%= product.stock_quantity %></p>
    <p><%= image_tag product.image, :class => "prod_img"  %></p>
</section>
