<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Stock quantity</th>
      <th>Category</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product %></td>
        <td><%= number_to_currency product.price %></td>
        <td><%= product.description %></td>
        <td><%= product.stock_quantity %></td>
        <td><%= product.category.name %></td>
        <td><%= product.image %></td>
      </tr>
    <% end %>
  </tbody>
</table>