<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Stock quantity:</strong>
  <%= @product.stock_quantity %>
</p>
<% if @product.category.present? %>
<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>
<% end %>
<p>
  <strong>Image:</strong>
  <%= @product.image %>
</p>

<%= link_to 'Back', products_path %>
