<!DOCTYPE html>
<html>
<head>
  <title>TireStore</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <h1>THE TIRE STORE</h1>
  </header>

    <section id="navigation">
        
        <nav>
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Products', products_path %></li>
            <li><%= link_to 'Categories', categories_path %></li>
            <li><%= link_to 'Search', search_path %></li>
          </ul>
        </nav>
    </section>  

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  <!-- <footer>
    <nav>
          <ul>
            <li id="link1"><a href = "">Home</a></li>
            <li id="link2"><a href = "">Products</a></li>
            <li id="link3"><a href = "">About Us</a></li>
            <li id="link4"><a href = "">Contact</a></li>
          </ul>
        </nav>
  </footer> -->

</body>
</html>
